{% extends "lab/index.html.j2" %}

{%- block header -%}
{{super()}}
{%- endblock header -%}

{% block content %}
{{ super() }}
{% endblock content %}


{}
{% block codecell %}
{{ super()}}
{%- endblock codecell %}



{% block markdowncell -%}
{{ super() }}
{% endblock markdowncell %}


