{% extends "full.tpl" %}


{% block content %}
<main>
{{ content }}
{% endblock content %}


{% block codecell %}

<section aria-label="Code cell">
{{ super() }}
</section>

{%- endblock codecell %}



{% block markdowncell -%}

<section aria-label="Markdown cell">
{{ super() }}
</section>

{% endblock markdowncell %}


