{% macro select(title, values={}, default=None, disabled=None, hide_label=False) %}
{% set name="-".join(map(str.lower, title.split()))%}
{% if default == None %}
{% set default = next(iter(values), None)%}
{% endif %}
{% if isinstance(values, [].__class__) %}
{% set values = dict(zip(values, values))%}
{% endif %}
{% if isinstance(disabled, [].__class__) %}
{% set disabled = dict(zip(disabled, disabled))%}
{% endif %}
<label id="nb-{{name}}-select">{{title}}
    <select name="{{name}}">
        {% for k, v in values.items() %}
        <option value="{{v}}" {% if k==default %} selected{% endif %}>{{k}}</option>
        {% endfor %}
        {% for k, v in (disabled or {}).items() %}
        <option value="{{v}}" disabled>{{k}}</option>
        {% endfor %}
    </select>
</label>
{% endmacro %}


{% macro activity_log(id=False) %}
<details class="log">
    <summary><span {% if id %}id="nb-activity-log-label" {% endif %}>activity log</span></summary>
</details>
<table aria-live="polite">
    <tr>
        <th hidden>time</th>
        <td>message</td>
        {# all forward behaviors should be reversible except code execution #}
        {# <td>action</td> #}
    </tr>
</table>
{% endmacro %}

{% macro input_number(title, value, min=None, max=None, step=None, extra_title="")%}
{% set name="-".join(map(str.lower, title.split()))%}
<label>
    {{title}}<input type="number" min="{{min | default('')}}" max="{{max | default('')}}" step="{{step | default('')}}"
        name="{{name}}" value="{{value}}">{{extra_title}}
</label>
{% endmacro%}

{% macro checkbox(title, value)%}
{% set name="-".join(map(str.lower, title.split()))%}
<label><input type="checkbox" name="{{name}}" {%- if value %} checked{% endif %}>{{title}}</label>
{% endmacro%}

{% macro dialog_close() %}
<button formmethod="dialog">Close</button>
{% endmacro %}

{% macro dialog_close_form() %}
<form>{{dialog_close()}}</form>
{% endmacro %}


{% macro h(level, title)%}
{% set name="-".join(map(str.lower, title.split()))%}
<h{{level}} id="nb-{{name}}-label">{{title}}</h{{level}}>
{% endmacro%}

{% macro hide(object) %}{% if object %} hidden{% endif %}{% endmacro %}

{% macro multiselect(title, values={}, default=None) %}
{% set name="-".join(map(str.lower, title.split()))%}
{% if default == None %}
{% set default = list(values) %}
{% endif %}
{% if isinstance(values, [].__class__) %}
{% set values = dict(zip(values, values))%}
{% endif %}
<label>{{title}}
    <select name="{{name}}" id="{{name}}-select" multiple>
        {% for k, v in values.items() %}
        <option value="{{v}}" {% if k in default %} selected{% endif %}>{{k}}</option>
        {% endfor %}
    </select>
</label>
{% endmacro %}

{% macro cell_anchor(i, cell_type)%}
<a href="#{{i}}" id="{{i}}" aria-labelledby="nb-cell-label {{i}}" {% if resources.accesskey_navigation and (i < 10)
    %}accesskey="{{i}}" {% endif %}
    aria-describedby="nb-{{cell_type}}-label nb-cell-label cell-{{i}}-loc nb-loc-label">{{i}}</a>
{% endmacro %}

{% macro cell_form(i, cell_type) %}
{# the cell form acts a formal reference for each cell. as a form, each cell can handle a submission process
that would include talking to the kernel. #}
<form class="nb-toolbar" id="cell-{{i}}" name="cell-{{i}}" aria-labelledby="cell-{{i}}-source-label" hidden>
    <fieldset>
        <legend>actions</legend>
        <button type="submit">Run Cell</button>
    </fieldset>
</form>
{% endmacro %}

{% macro cell_cell_type(i, cell_type) %}
<select form="cell-{{i}}" name="cell_type" aria-describedby="nb-cell_type-desc">
    <option value="markdown" {%- if cell_type=="markdown" %} selected{% endif%}>markdown</option>
    <option value="code" {%- if cell_type=="code" %} selected{% endif%}>code</option>
    <option value="raw" {%- if cell_type=="raw" %} selected{% endif%}>raw</option>
</select>
<span id="cell-{{i}}-cell_type">{{cell_type}}</span>
{% endmacro %}

{% macro cell_execution_count(i, execution_count) %}
<output form="cell-{{i}}" name="execution_count" id="cell-{{i}}-execution_count">#{{execution_count}}</output>
{% endmacro %}


{% macro cell_source(i, source, cell_type, execution_count) %}
{% set label -%}
<span id="cell-{{i}}-source-label">
    <span>In</span><span aria-hidden="true">[</span><span>{{execution_count}}</span><span aria-hidden="true">]</span>
</span>
{%- endset %}
<details open aria-labelledby="cell-{{i}}-source-label">
    <summary inert>{{label}}</summary>
    <textarea form="cell-{{i}}" id="cell-{{i}}-source" name="source" rows="{{source.splitlines().__len__()}}"
        aria-labelledby="cell-{{i}}-source-label nb-source-label" readonly>{{source}}</textarea>
    {{highlight(source, cell_type)}}
</details>
{% endmacro %}

{% macro cell_metadata(i, metadata) %}
<button name="metadata" form="cell-{{i}}" aria-describedby="nb-metadata-desc" aria-controls="cell-{{i}}-metadata"
    onclick="openDialog()">metadata</button>
<dialog id="cell-{{i}}-metadata">
    <form>
        <button formmethod="dialog">Close</button>
        <pre><code>
        {{metadata}}
        </code></pre>
    </form>
</dialog>
{% endmacro %}

{%- macro cell_output(i, cell, source, outputs, cell_type, execution_count) -%}
{% set CODE = cell_type == "code" %}
{% set label %}{% if CODE and outputs %}Out<span aria-hidden="true">[</span>{{execution_count}}<span
    aria-hidden="true">]</span>{% else %}Cell {{i}}{% endif %}{% endset %}
<span hidden id="cell-{{i}}-outputs-len">{{outputs.__len__()}} outputs</span>
{% if CODE and outputs %}
{% if outputs %}
<details open aria-labelledby="cell-{{i}}-outputs-label">
    <summary inert id="cell-{{i}}-outputs-label" aria-describedby="nb-outputs-desc">{{label}}</summary>
    {# the output description should mention the number of outputs
    saying zero outputs should be an option. a cell without an output is probably a violation. #}
    {{cell_display_priority(i, outputs, cell)}}
</details>
{% endif %}
{% elif cell_type=="markdown" %}
<details open aria-labelledby="cell-{{i}}-outputs-label">
    <summary hidden inert id="cell-{{i}}-outputs-label">{{label}}</summary>
    {{ markdown(source) | strip_files_prefix }}
</details>
{% endif %}
{%- endmacro -%}

{% macro loc(cell) %}{{cell.source.splitlines().__len__()}}{% endmacro%}

{% macro time(t) %}
{% if t %}{% if t.endswith("Z") %}{% set t = t[:-1] + "+00:00" %}{% endif %}<time
    datetime={{'"'}}{{datetime.fromisoformat(t).isoformat(timespec="milliseconds" )}}">{{t}}</time>{% endif %}
{% endmacro %}

{#

[h25]: https://www.w3.org/WAI/WCAG21/Techniques/html/H25
[2.4.2A]: https://www.w3.org/WAI/WCAG21/Understanding/page-titled

#}