{% from "a11y/components/visibility.html.j2" import header_row, checkbox_row%}
{% from "a11y/components/core.html.j2" import activity_log %}
<dialog id="nb-expanded-dialog">
    <form name="expanded">
        <button formmethod="dialog">Close</button>
        <table role="grid">
            <tbody>
                {% set labels = "cell source outputs" %}
                {{header_row(labels)}}
                {{checkbox_row("code", labels)}}
                {{checkbox_row("markdown", labels)}}
                {{checkbox_row("raw", labels)}}
            </tbody>
        </table>
    </form>
    {{activity_log()}}

</dialog>