<form name="notebook" id="notebook" aria-labelledby="nb-notebook-label">
    <label><input id="nb-edit-mode" type="checkbox" name="edit">edit mode</label>
    <button aria-controls="nb-metadata" onclick="openDialog()">metadata</button>
    <button type="submit">Run</button>
</form>