docs
site
tests/exports
nbconvert_a11y/templates/a11y/light-code.css
nbconvert_a11y/templates/a11y/dark-code.css

*~
*#
.#*
*.pyc
.python-version
nbconvert_a11y.egg-info
node_modules
__pycache__
.doit.db.*
nbconvert_a11y/_version.py
tests/outputs/*.html
build/*
tests/out.html
*-checkpoint*
docs/**/*.html
docs/**/*.json
settings.json
nbconvert_a11y/templates/a11y/axe.js
