__pycache__
.#*
.doit.*
.python-version
*-checkpoint*
*.pyc
*#
*~
build/*
docs
docs/**/*.html
docs/**/*.json
nbconvert_a11y.egg-info
nbconvert_a11y/_version.py
nbconvert_a11y/templates/a11y/axe.js
nbconvert_a11y/templates/a11y/dark-code.css
nbconvert_a11y/templates/a11y/light-code.css
node_modules
settings.json
site
tests/exports
tests/out.html
tests/outputs/*.html
