{%- extends 'semantic-forms/index.html.j2' -%}

{# cell is a tough analogy, it is an ambiguous signifier dependent on context.
the analogy to a biologic cell asks "what is the nucleus?" or "what encodes the objective?".
the source input feels like it is the irreducible element of our computational cells.
lines of text evolve over time. like dna they replicate, mutate, evolve, and cooperate.

allied alphabets dancing on carefully organized sand emitting waves of sound, light, and hope.
the lines in the source, the nucleus, freeze a sliver of a movement in hypermedia.

#}
{%- macro cell_textarea(cell, nb) -%}
{%- set count = nb["cells"].index(cell)-%}{%- set ID = "/cells/" + str(count) -%}
<label for="{{ID}}/source">{# https://www.w3.org/WAI/WCAG21/Techniques/general/G208 #}
    <textarea name="source" id="{{ID}}/source" form="{{ID}}" readonly>{{cell.source}}</textarea>
</label>
{%- endmacro -%}


{%- macro cell_forms(cell, nb, body) -%}
{%- set count = nb["cells"].index(cell)-%}{%- set ID = "/cells/" + str(count) -%}
<form id="{{ID}}" name="{{ID}}" method="POST" aria-labelledby="{{ID}}/execution_count">
    {{body}}
</form>
{%- endmacro -%}


{%- macro cell_form_element(cell, nb) -%}
{%- set count = nb["cells"].index(cell)-%}{%- set ID = "/cells/" + str(count) -%}
<form id="{{ID}}" name="{{ID}}" method="POST"></form>
{%- endmacro -%}

{%- macro cell_submit(cell, nb) -%}
{%- set count = nb["cells"].index(cell)-%}{%- set ID = "/cells/" + str(count) -%}
{# https://www.w3.org/TR/WCAG20-TECHS/H32.html #}
<button form="{{ID}}" type="submit" disabled aria-label="Run Cell"></button>
{%- endmacro -%}

{%- macro cell_toolbars(cell, nb, body) -%}
{%- set count = nb["cells"].index(cell)-%}{%- set ID = "/cells/" + str(count) -%}
<ul role="toolbar" aria-labelledby="{{ID}}/execution_count">{%- for part in body -%}<li>{{part}}</li>{%- endfor -%}</ul>
{%- endmacro -%}

{%- macro cell_type(cell, nb) -%}
{%- set count = nb["cells"].index(cell)-%}{%- set ID = "/cells/" + str(count) -%}
{%- set cell_type = cell.cell_type -%}
<select name="cell_type" aria-label="Cell Type" form="{{ID}}" disabled>
    <option {% if cell_type=="code" %}selected{% endif %} value="code">code</option>
    <option {% if cell_type=="markdown" %}selected{% endif %} value="markdown">markdown</option>
    <option {% if cell_type=="raw" %}selected{% endif %} value="raw">raw</option>
    <option {% if cell_type=="unknown" %}selected{% endif %} value="unknown">unknown</option>
</select>
{%- endmacro -%}

{# the execution count has been one of the most confusing aspects of this journey.
it's meaning wasn't revealed until the very end of this rigorous study.
the result discovered labelable, interactive elements that describe the components of the cell.
assistive technology requires labels for interactive objects and the semantic representation allows the re-use
of the execution count label on different elements with different roles.
#}
{%- macro cell_execution_count_out(cell, nb, body) -%}
{%- set count = nb["cells"].index(cell)-%}{%- set ID = "/cells/" + str(count) -%}
{% if cell.cell_type == "code" %}
<label for="{{ID}}/source" name=execution_count id="{{ID}}/execution_count">Out: {{cell.execution_count or ""}}</label>
{% else %}
<label for="{{ID}}/source" name=execution_count id="{{ID}}/execution_count">Cell {{count}}</label>
{% endif %}
{%- endmacro -%}

{%- macro cell_execution_count_in(cell, nb, body) -%}
{%- set count = nb["cells"].index(cell)-%}{%- set ID = "/cells/" + str(count) -%}
{% if cell.cell_type == "code" %}
<label for="{{ID}}/source" name=execution_count id="{{ID}}/execution_count">In: {{cell.execution_count or ""}}</label>
{% else %}
<label for="{{ID}}/source" name=execution_count id="{{ID}}/execution_count">Cell {{count}}</label>
{% endif %}
{%- endmacro -%}

{%- macro cell_outputs(cell, nb, parts) -%}
{%- set count = nb["cells"].index(cell)-%}{%- set ID = "/cells/" + str(count) -%}
<fieldset name="outputs" id="{{ID}}/outputs" role="presentation" {%- if not cell.outputs %}hidden{% endif %}>
    <legend>{{ cell_execution_count_out(cell, nb) }}</legend>
    {{cell_display_priority(cell, ID)}}
</fieldset>
{%- endmacro -%}

{%- macro cell_render(cell, nb, parts) -%}
{%- set count = nb["cells"].index(cell)-%}{%- set ID = "/cells/" + str(count) -%}
{% set CODE = cell.cell_type=="code" %}
<output role="presentation" class="render" form={{ID}} aria-labelledby="{{ID}}/execution_count">
    {%- if CODE -%}{{ cell.source | highlight_code(metadata=cell.metadata) }}{% else %}{{markdown(cell.source) |
    strip_files_prefix}}{%- endif -%}
</output>
{%- endmacro -%}

{%- macro cell_display_priority(cell, ID) -%}
{%- for i, output in enumerate(cell.outputs) -%}
{%- block output scoped -%}{%- block output_prompt -%}{%- endblock-%}{{super()}}{%- endblock -%}
{%- endfor -%}
{%- endmacro -%}


{%- macro highlight(body, type) -%}
{{markdown("```{{type}}\n" + json.dumps(nb.metadata, indent=2) + "\n```\n")}}
{%- endmacro -%}