{%- extends 'semantic-forms/main.html.j2' -%}
{% from 'mathjax.html.j2' import mathjax %}
{% from 'jupyter_widgets.html.j2' import jupyter_widgets %}

{% set title = nb.metadata.get('title', resources['metadata']['name']) | escape_html_keep_quotes %}

{% block body_header %}
{{super()}}
<article role="feed">
    {{super()}}
    {% endblock body_header %}

    {% block body_footer %}
</article>
{{super()}}
{% endblock body_footer %}