{%- extends 'semantic-forms/base.html.j2' -%}
{% from 'mathjax.html.j2' import mathjax %}
{% from 'jupyter_widgets.html.j2' import jupyter_widgets %}

{%- block header -%}
<!DOCTYPE html>
<html lang="en">
<head>
{%- block html_head -%}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% set nb_title = nb.metadata.get('title', resources['metadata']['name']) | escape_html_keep_quotes %}
<title>{{nb_title}}</title>
{% block css %}{% endblock css %}
{%- endblock html_head -%}

{%- block html_head_js_mathjax -%}
{{ mathjax(resources.mathjax_url) }}
{%- endblock html_head_js_mathjax -%}

</head>
{%- endblock  -%}


{% block body_header %}
<body>
    <header class="site">
        {% block skip_links %}<a class="visually-hidden" tabindex="0" href="#/">Skip to content</a>{% endblock skip_links %}
    </header>
    <main id="/">
{% endblock body_header %}


{% block body_footer %}
    </main>
    <footer><a class="scroll-top" href="#/">Scroll to top.</a></footer>
</body>
{% endblock body_footer %}

{% block footer %}
{% block footer_js %}
{% endblock footer_js %}
{{ super() }}
</html>
{% endblock footer %}


    {% macro cell_form(cell, nb) %}
    {% set count = nb["cells"].index(cell) +1%}
    {% set ID = "/cells/" + str(cell.id or count) %}
    <form id="{{ID}}" aria-label="Cell Source {{count}}">
        {{cell_type_cell(cell)}}
        <label>
            <textarea name="source" id="{{ID}}/source" readonly>{{cell.source}}</textarea>
        </label>
    </form>
    {{cell_toolbar(cell, ID)}}
    <output class="render" for="{{ID}}/source" form={{ID}} aria-hidden="{% if cell.cell_type == "markdown" %}false{% else %}true{% endif %}">
        {% if cell.cell_type=="markdown" %}{{markdown(cell.source) | strip_files_prefix}}{% endif %}
        {% if cell.cell_type=="code" %}{{ cell.source | highlight_code(metadata=cell.metadata) }}{% endif %}
    </output>
    <output form={{ID}} for="{{ID}}/source" name=execution_count id="{{ID}}/outputs">{{cell.execution_count or ""}}</output>
    <output form={{ID}} for="{{ID}}/source" name=outputs role=log>{{outputs_cell(cell, ID)}}</output>
    {% endmacro%}

    {% macro cell_type_cell(cell) %}
    {% set cell_type = cell.cell_type %}
    <label class="cell_type">
        <select name="cell_type" disabled>
            <option {% if cell_type=="code" %}selected{% endif %} value="code">code</option>
            <option {% if cell_type=="markdown" %}selected{% endif %} value="markdown">markdown</option>
            <option {% if cell_type=="raw" %}selected{% endif %} value="raw">raw</option>
            <option {% if cell_type=="unknown" %}selected{% endif %} value="unknown">unknown</option>
        </select>
    </label>
    {% endmacro %}

    {% macro outputs_cell(cell, ID) %}
    {% for i, output in enumerate(cell.outputs) %}
    {% block output scoped %}{% block output_prompt %}{% endblock %}{{super()}}{% endblock %}
    {% endfor %}
    {% endmacro %}


    {% macro cell_toolbar(cell, ID) %}
    <menu class="cell toolbar" hidden>
        <input class="run" type="submit" form="{{ID}}" for="{{ID}}-source" value="run" title="run the cell"
            tabindex="0">
        <button onclick="document.querySelector('#{{ID}}-metadata').showModal()" title="show metadata">🛈</button>
    </menu>
    {% endmacro %}

    {% macro hide(x) %}{% if not x %}hidden{% endif %}{% endmacro %}


    {% macro highlight(body, type) %}
    {{markdown("```{{type}}\n" + json.dumps(nb.metadata, indent=2) + "\n```\n")}}
    {% endmacro %}