body {
    font-size: 1.25em;
}

main {
    margin: auto;
    padding: 1em;
}

.sro:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}


tr:has(:focus) {
    outline: 1px black; 
}

thead tr.cell,
tr.cell>td:not(.source, .render, .outputs) {
    visibility: collapse;
    display: none;
}

[role=tablist],
header:empty,
footer:empty {
    display: none;
}

tr.cell {
    display: grid;
    grid-template-areas: "source outputs";
    max-width: 90vw;
}

tr.cell td.source,
tr.cell td.render {
    grid-area: "source";
}

td.source textarea {
    width: 100%;
}


tr.cell td.outputs {
    grid-area: "outputs";
}

.static tr.markdown.cell td.source textarea {
    display: none;
}

td.source textarea:focus + .render {
    display: none;
}