body {
    font-size: 1.25em;
}

main {
    margin: auto;
    padding: 1em;
}

.sro:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

thead tr.cell {
    visibility: collapse;
}

[role=tablist],
header:empty,
footer:empty {
    display: none;
}

tr.cell {
    display: grid;
}


td.execution_count:before {
    content: "In: ";
}

tr.cell {
    max-width: 90vw;
    overflow-x: auto;
}

tr.cell form label.cell_type,
tr.markdown.cell td.outputs, 
tr.markdown.cell td.execution_count,
.static input[type="submit"],
.static tr.markdown.cell td.source form textarea {
    display: none;
}

tr.markdown.cell {
    grid-template-areas: "source:";
}
tr.code.cell {
    grid-template-columns: 5em auto;
    grid-template-areas: "execution_count source" "outputs outputs";
}

td.source {
    grid-area: "source";
}

td.outputs {
    grid-area: "outputs";
}
td.execution_count {
    grid-area: "execution_count";
}

td.source form textarea:focus ~ .render {
    display: none;
}


td.source textarea {
    width: 100%;
}

