{# # a base template for accessible notebook representations.

the base template defines notebook independent components.
an accessible base template provides a substrate to progressively enchance
the notebook experiennce from browse to edit/focus mode.
#}
{%- extends 'lab/index.html.j2' -%}
{% from "a11y/components/displays.html.j2" import cell_display_priority with context %}
{% from "a11y/components/core.html.j2" import activity_log with context %}
{% from 'celltags.j2' import celltags %}
{% from 'mathjax.html.j2' import mathjax %}
{% from 'lab/mermaidjs.html.j2' import mermaid_js %}
{% from 'jupyter_widgets.html.j2' import jupyter_widgets %}
{% set title = nb.metadata.get('title', resources['metadata']['name']) | escape_html_keep_quotes %}

{%- block html_head_js -%}
<meta name="color-scheme" content="light">
{{super()}}
{%- endblock html_head_js -%}

{% block notebook_css %}
{{ resources.include_css("a11y/static/style.css") }}
{% endblock notebook_css %}

{% block extra_css %}
<link id="nb-light-theme" rel="stylesheet" href="light-code.css">
<link id="nb-dark-theme" disabled rel="stylesheet" href="dark-code.css">
{% endblock extra_css %}

{% block body_header %}

<body class="wcag-{{resources.wcag_priority.lower()}}">
    <header aria-label="site header">
        <a href="#1">skip to main content</a>
        {# the skip link is the first tab stop in the site to skip repetitive information
        and directly access the content. #}
        {# site authors with include their site specific headers in this region. #}
        {# a subsequent tab stop will indicate to keyboard and AT users that there are
        accessibility settings that can be toggled. #}
    </header>
    <main aria-labelledby="nb-notebook-label">
        {% include "a11y/components/nb-toolbar.html.j2" %}
        {% endblock body_header %}

        {% block body_footer %}
        {# dialogs need to be outside the form because we cant nest forms #}
        <dialog id="nb-metadata">
            <form method="dialog">
                <button formmethod="dialog">Close</button>
                {{nb.metadata| json_dumps | escape_html_keep_quotes }}
            </form>
        </dialog>
    </main>
    {# a notebook begins as a static document that can progressively
    add features like run time computation. #}
    {# skip to top is needed for long notebooks.
    it is difficult to access for keyboard users. #}
    <footer>
        {% if resources.include_settings %}{% include "a11y/components/settings.html.j2" %}{% endif %}
        {% if resources.include_axe %}<button aria-controls="nb-audit" aria-describedby="nb-audit-desc"
            onclick="openDialog()">audit</button>{% endif %}
        {% if resources.include_help %}<button onclick="openDialog()" aria-controls="nb-help"
            accesskey="?">help</button>{% endif %}
        {{activity_log()}}
        <a href="#notebook" accesskey="0">skip to top</a>
    </footer>
    {% if resources.include_help %}{% include "a11y/components/help.html.j2" %}{% endif %}
    {% if resources.include_axe %}{% include "a11y/components/audit.html.j2" %}{% endif %}
    {% include "a11y/components/expanded.html.j2"%}
    {% include "a11y/components/visibility.html.j2"%}
</body>
{% endblock body_footer %}

{% block footer_js %}
{% if resources.include_settings %}
<script src="settings.js"></script>{% endif %}
{%- if resources.include_axe -%}
<script src="{{resources.axe_url}}" onload="auditNotebook()"></script>
{%- endif -%}
{%- endblock footer_js -%}

{% macro cell_section(cell, loop, tag="section") %}
<{{tag}} class="cell {{cell.cell_type}}" aria-labelledby="cell-{{loop.index}}-cell_type {{loop.index}}"
    data-loc="{{cell.source.splitlines().__len__()}}" {% if cell.cell_type=="code" %}
    data-outputs="{{cell.outputs.__len__()}}" {% endif %}>
    {{cell_anchor(loop.index, cell.cell_type)}}
    {{cell_form(i)}}
    {{cell_execution_count(loop.index, cell.execution_count)}}
    {{cell_cell_type(loop.index, cell.cell_type)}}
    {{cell_source(loop.index, cell.source, cell.execution_count)}}
    {{cell_output(loop.index, cell, cell.source, cell.outputs, cell.cell_type, cell.execution_count)}}
    {{cell_metadata(loop.index, cell.metadata)}}
</{{tag}}>
{% endmacro%}

{% macro cell_anchor(i, cell_type)%}
<a href="#{{i}}" id="{{i}}" aria-labelledby="nb-cell-label {{i}}" {% if resources.accesskey_navigation and (i < 10)
    %}accesskey="{{i}}" {% endif %}
    aria-describedby="nb-{{cell_type}}-label nb-cell-label cell-{{i}}-loc nb-loc-label">{{i}}</a>
{% endmacro %}

{% macro cell_form(i, cell_type) %}
{# the cell form acts a formal reference for each cell. as a form, each cell can handle a submission process
that would include talking to the kernel. #}
<form class="nb-toolbar" id="cell-{{i}}" name="cell-{{i}}" aria-labelledby="cell-{{i}}-source-label" hidden>
    <fieldset>
        <legend>actions</legend>
        <button type="submit">Run Cell</button>
    </fieldset>
</form>
{% endmacro %}

{% macro cell_cell_type(i, cell_type) %}
<select form="cell-{{i}}" name="cell_type" aria-describedby="nb-cell_type-desc">
    <option value="markdown" {%- if cell_type=="markdown" %} selected{% endif%}>markdown</option>
    <option value="code" {%- if cell_type=="code" %} selected{% endif%}>code</option>
    <option value="raw" {%- if cell_type=="raw" %} selected{% endif%}>raw</option>
</select>
<span id="cell-{{i}}-cell_type">{{cell_type}}</span>
{% endmacro %}

{% macro cell_execution_count(i, execution_count) %}
<output form="cell-{{i}}" name="execution_count" id="cell-{{i}}-execution_count">#{{execution_count}}</output>
{% endmacro %}


{% macro cell_source(i, source, execution_count) %}
{% set label -%}
In</span><span aria-hidden="true">[</span><span>{{execution_count}}</span><span aria-hidden="true">]</span>
{%- endset %}
<details open aria-labelledby="cell-{{i}}-source-label">
    <summary inert id="cell-{{i}}-source-label">{{label}}</summary>
    <textarea form="cell-{{i}}" id="cell-{{i}}-source" name="source" rows="{{source.splitlines().__len__()}}"
        aria-labelledby="cell-{{i}}-source-label nb-source-label" aria-describedby="nb-source-desc"
        readonly>{{source}}</textarea>
    {{highlight(source)}}
</details>
{% endmacro %}

{% macro cell_metadata(i, metadata) %}
<button name="metadata" form="cell-{{i}}" aria-describedby="nb-metadata-desc" aria-controls="cell-{{i}}-metadata"
    onclick="openDialog()">metadata</button>
<dialog id="cell-{{i}}-metadata">
    <form>
        <button formmethod="dialog">Close</button>
        <pre><code>
        {{metadata}}
        </code></pre>
    </form>
</dialog>
{% endmacro %}

{%- macro cell_output(i, cell, source, outputs, cell_type, execution_count) -%}
{% set CODE = cell_type == "code" %}
{% set label %}{% if CODE and outputs %}Out<span aria-hidden="true">[</span>{{execution_count}}<span
    aria-hidden="true">]</span>{% else %}Cell {{i}}{% endif %}{% endset %}
<span hidden id="cell-{{i}}-outputs-len">{{outputs.__len__()}} outputs</span>
{% if CODE and outputs %}
{% if outputs %}
<details open aria-labelledby="cell-{{i}}-outputs-label">
    <summary inert id="cell-{{i}}-outputs-label" aria-describedby="nb-outputs-desc">{{label}}</summary>
    {# the output description should mention the number of outputs
    saying zero outputs should be an option. a cell without an output is probably a violation. #}
    {{cell_display_priority(i, outputs, cell)}}
</details>
{% endif %}
{% elif cell_type=="markdown" %}
<details open aria-labelledby="cell-{{i}}-outputs-label">
    <summary hidden inert id="cell-{{i}}-outputs-label">{{label}}</summary>
    {{ markdown(source) | strip_files_prefix }}
</details>
{% endif %}
{%- endmacro -%}

{% macro loc(cell) %}{{cell.source.splitlines().__len__()}}{% endmacro%}

{% macro time(t) %}
{% if t %}{% if t.endswith("Z") %}{% set t = t[:-1] + "+00:00" %}{% endif %}<time
    datetime={{'"'}}{{datetime.fromisoformat(t).isoformat(timespec="milliseconds" )}}">{{t}}</time>{% endif %}
{% endmacro %}

{#

[h25]: https://www.w3.org/WAI/WCAG21/Techniques/html/H25
[2.4.2A]: https://www.w3.org/WAI/WCAG21/Understanding/page-titled

#}