<details class="log">
    <summary><span {% if LOGID %}aria-labelledby="nb-activity-log-label" {% endif %}>activity log</span></summary>
</details>
<table aria-live="polite">
    <tr>
        <th>time</th>
        <td>message</td>
        {# all forward behaviors should be reversible except code execution #}
        {# <td>action</td> #}
    </tr>
</table>