<button onclick="openDialog()" aria-controls="nb-settings" accesskey=",">Settings</button>
<dialog id="nb-settings">
    <form name="settings">
        <h1 role="presentation">Settings</h1>
        <button formmethod="dialog">Close</button>
        <fieldset id="nb-color-scheme-radio">
            <legend>color scheme</legend>
            <span aria-hidden="true">color scheme</span>
            <label>light mode<input value="light" name="color-scheme" type="radio" checked></label>
            <label>dark mode<input value="dark" name="color-scheme" type="radio"></label>
        </fieldset>
        <label>
            margin<input type="number" min="0" max="40" step="5" name="margin" value="5">%
        </label>
        <fieldset id="nb-table-role-radio">
            <legend>cell navigation</legend>
            <b aria-hidden="true">cell navigation</b>
            <i>modify the screen reader's cell navigation preference,
                there is no visual effect.</i>
            <label>list<input value="list" name="table-role" type="radio" checked></label>
            <label>table<input value="table" name="table-role" type="radio"></label>
            <label>landmark<input value="landmark" name="table-role" type="radio"></label>
            <label>presentation<input value="presentation" name="table-role" type="radio"></label>
            <label>grid<input value="grid" name="table-role" type="radio" disabled></label>
            <label>treegrid<input value="treegrid" name="table-role" type="radio" disabled></label>
            <label>tree<input value="tree" name="table-role" type="radio" disabled></label>
        </fieldset>
        <fieldset id="nb-table-font-group">
            <legend>font settings</legend>
            <label aria-hidden="true" id="nb-table-font-size-group-label">font size</label>
            <select name="font-size" id="nb-table-font-size-group" aria-labelledby="nb-table-font-size-group-label">
                <option value="xx-small">xx-small</option>
                <option value="x-small">x-small</option>
                <option value="small">small</option>
                <option value="medium" selected>medium</option>
                <option value="large">large</option>
                <option value="x-large">x-large</option>
                <option value="xx-large">xx-large</option>
            </select>
            <fieldset id="nb-font-serif-radio">
                <legend>serif</legend>
                <label>serif<input value="serif" name="font-family" type="radio" checked></label>
                <label>sans-serif<input value="sans-serif" name="font-family" type="radio"></label>
            </fieldset>
            <label>
                line height<input type="number" min=".5" max="3" step=".1" name="line-height" value="1.2">
            </label>
        </fieldset>

        <fieldset id="nb-sound-group">
            <legend>sound settings</legend>
            <label><input type="checkbox" name="speech">Synthetic speech</label>
        </fieldset>
        {% include "a11y/activity-log.html.j2" %}
    </form>
</dialog>