<details class="log">
    {# <summary{% if LOGID %} id="nb-activity-log-label" {%endif%}>activity log</summary> #}
</details>
<div aria-live="polite">
    <ul aria-labelledby="nb-activity-log-label">
    </ul>
</div>
<!--<table aria-labelledby="nb-activity-log-label">
    <tr>
        <th>time</th>
        <td>message</td>
        {# all forward behaviors should be reversible except code execution #}
        {# <td>action</td> #}
    </tr>
</table>-->