<details class="log">
    <summary>activity log</summary>
</details>
<ul aria-live="polite" aria-labelledby="nb-activity-log-label">
</ul>
<!--<table aria-labelledby="nb-activity-log-label">
    <tr>
        <th>time</th>
        <td>message</td>
        {# all forward behaviors should be reversible except code execution #}
        {# <td>action</td> #}
    </tr>
</table>-->