{%- extends 'semantic-forms/displays.j2.html' -%}
{% from 'celltags.j2' import celltags %}

{%- block header -%}
<!DOCTYPE html>
<html lang="en">

<head>
    {%- block head -%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <meta name="color-scheme" content="dark light">

    <link rel="stylesheet" href="style.css">
    {%- endblock head -%}
    {%- block html_head_js_mathjax -%}{%- endblock html_head_js_mathjax -%}
</head>
{%- endblock header -%}

{% block any_cell %}{{cell_section(cell, loop)}}{% endblock any_cell %}

{% block body_header %}

<body>
    <header class="site" aria-labelledby="nb-skip-links-label" class="visually-hidden">
        {% block skip_links %}
        <label aria-hidden="true" id="nb-skip-links-label">skip links</label>
        <a accesskey="0" href="#cells">Skip to content</a>
        {% endblock skip_links %}
    </header>
    {% include "semantic-forms/settings.html.j2" %}
    <main id=notebook aria-labelledby="nb-title">
        {% block main_header scoped %}
        <header id="toc" aria-labelledby="nb-toc" role="region">
            <details>
                <summary><span id="nb-title">{{title}}</span> <span id="nb-toc">table of contents</span>
                </summary>
            </details>
        </header>
        {% endblock main_header %}
        {% endblock body_header %}

        {% block body_footer %}
        <form name="notebook" aria-labelledby="nb-controls-label">
            <fieldset>
                <legend id="nb-controls-label">Notebook Controls</legend>
                <ul role="toolbar">
                    <li><button type="submit">Run All</button></li>
                </ul>
            </fieldset>
        </form>
        <dialog>
            <fieldset name="metadata" form="notebook">
            </fieldset>
            <form method="dialog">
                <button>Close</button>
            </form>
        </dialog>
        <footer role="log">
            <ol id="log" aria-relevant="additions"></ol>
        </footer>
    </main>
</body>
<script>
    function openDialog(x) {
        document.getElementById(x.dataset.controls).showModal();
    };

    function toggleColorScheme(x) {
        let scheme = document.querySelector(`head > meta[name="color-scheme"]`);
        scheme.content = x.value;
        log(`${scheme.content} mode activated`);
    }

    function log(x) {
        document.getElementById("log").innerHTML += `<li>${x}</li>`;
    }
</script>

</html>
{% endblock body_footer %}


{% macro cell_section(cell, loop) %}
<section class="cell {{cell.cell_type}}" aria-labelledby="cell-{{loop.index}}-cell_type {{loop.index}}"
    data-loc="{{cell.source.splitlines().__len__()}}" {% if cell.cell_type=="code" %}
    data-outputs="{{cell.outputs.__len__()}}" {% endif %}>
    {{cell_anchor(loop.index)}}
    {{cell_form(i)}}
    {{cell_execution_count(loop.index, cell.execution_count)}}
    {{cell_cell_type(loop.index, cell.cell_type)}}
    {{cell_source(loop.index, cell.source, cell.execution_count)}}
    {{cell_output(loop.index, cell, cell.source, cell.outputs, cell.cell_type, cell.execution_count)}}
    {{cell_metadata(loop.index, cell.metadata)}}
</section>
{% endmacro%}

{% macro cell_anchor(i) %}
<a href="#{{i}}" id="{{i}}" aria-describedby="cell-{{i}}-input"><span
        class="visually-hidden">Cell</span>#{{i}}</a>
{% endmacro %}

{% macro cell_cell_type(i, cell_type) %}
<select form="cell-{{i}}" name="cell_type" disabled>
    <option value="markdown" {%- if cell_type=="markdown" %} selected{% endif%}>markdown</option>
    <option value="code" {%- if cell_type=="code" %} selected{% endif%}>code</option>
    <option value="raw" {%- if cell_type=="raw" %} selected{% endif%}>raw</option>
</select>
<span id="cell-{{i}}-cell_type">{{cell_type}}</span>
{% endmacro %}

{% macro cell_execution_count(i, execution_count) %}
<output form="cell-{{i}}" name="execution_count" id="cell-{{i}}-execution_count">#{{execution_count}}</output>
{% endmacro %}

{% macro cell_form(i) %}
<form id="cell-{{i}}" name="/cells/{{i}}" aria-labelledby="cell-{{i}}-cell_type">
    <button type="submit">Run Cell</button>
</form>
{% endmacro %}

{% macro cell_source(i, source, execution_count) %}
<fieldset name="input" disabled role="presentation">
    <legend aria-hidden="true">
        <span id="cell-{{i}}-input">In</span><span aria-hidden="true">[</span><span>{{execution_count}}</span><span
            aria-hidden="true">]</span>
    </legend>
    <textarea form="cell-{{i}}" id="cell-{{i}}-source" name="source" rows="{{source.splitlines().__len__()}}"
        aria-labelledby="cell-{{i}}-input cell-{{i}}-execution_count">{{source}}</textarea>
</fieldset>
{% endmacro %}

{% macro cell_metadata(i, metadata) %}
<button name="metadata" form="cell-{{i}}">Metadata</button>
<dialog id="cell-{{i}}-metadata">
    <pre><code>
    {{metadata}}
    </code></pre>
    <form method="dialog">
        <button>Close</button>
    </form>
</dialog>
{% endmacro %}

{%- macro cell_output(i, cell, source, outputs, cell_type, execution_count) -%}
{% set CODE = cell_type == "code" %}
<span hidden id="cell-{{i}}-outputs-len">{{outputs.__len__()}} outputs</span>
<fieldset name="outputs" id="cell-{{i}}-outputs" aria-describedby="cell-{{i}}-outputs-len">
    <legend>Out{% if CODE and outputs %}<span aria-hidden="true">[</span>{{execution_count}}<span
            aria-hidden="true">]</span>{% endif %}</legend>
    {% if CODE and outputs %}
    {{cell_display_priority(i, outputs, cell)}}
    {% elif cell_type=="markdown" %}
    {{ markdown(source) | strip_files_prefix }}
    {% endif %}
</fieldset>
{%- endmacro -%}