{# # a base template for accessible notebook representations.

the base template defines notebook independent components.
an accessible base template provides a substrate to progressively enchance
the notebook experiennce from browse to edit/focus mode.
#}

{%- extends 'semantic-forms/displays.j2.html' -%}
{% from 'celltags.j2' import celltags %}

{%- block header -%}
<!DOCTYPE html>
<html lang="en">

<head>
    {%- block head -%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# use technique [h25] to provide a title to satisfy [2.4.2A]. #}
    <title>{{title}}</title>
    {# color scheme signals that notebooks can viewed in light and dark mode.
    the html representation is used instead of the css representation so it is immediately avaiable.
    https://css-tricks.com/almanac/properties/c/color-scheme/ #}
    <meta name="color-scheme" content="light">

    {# non-html resources, css and javascript, are served as external resources to optimize load times. #}
    <link rel="stylesheet" href="style.css">
    <link id="nb-light-theme" media="screen" rel="stylesheet" href="light-code.css">
    <link id="nb-dark-theme" media="none" rel="stylesheet" href="dark-code.css">
    {%- endblock head -%}
    {%- block html_head_js_mathjax -%}{%- endblock html_head_js_mathjax -%}
</head>
{%- endblock header -%}

{% block any_cell %}{{cell_section(cell, loop)}}{% endblock any_cell %}

{% block body_header %}

<body>
    <section id="skip-link">
        <a href="#cells" tabindex="0" accesskey="1">skip to content</a>
    </section>
    <header aria-label="site header">
        {# the skip link is the first tab stop in the site to skip repetitive information
        and directly access the content. #}
        {# site authors with include their site specific headers in this region. #}
        {# a subsequent tab stop will indicate to keyboard and AT users that there are
        accessibility settings that can be toggled. #}
        <button onclick="openDialog(this)" aria-controls="nb-settings">Settings</button>
    </header>
    {# this is the main section, but we want landmark navigation to go to the first cell in
    the notebook. the extending template will define the location of the main content. #}
    <section id=notebook role="group">
        <section aria-labelledby="nb-toc">
            {# a notebook will provide visual structural navigation for a document.
            this is a feature of screen readers that is not common to sighted users.
            the implementation here is very naive. users will need to know to collapse the heading
            to skip the link tree. the best implementation is a tree that will consume a single tab stop
            and allow arrow key navigation. #}
            <details open>
                <summary><span id="nb-toc">table of contents</span></summary>
                {# the table of contents is populated in python. #}
            </details>
        </section>
        {% block main_header scoped %}
        {% endblock main_header %}
        {% endblock body_header %}

        {% block body_footer %}
        {# a notebook begins as a static document that can progressively
        add features like run time computation. #}
        <form name="notebook" aria-labelledby="nb-controls-label">
            <fieldset disabled>
                <legend id="nb-controls-label">Notebook Controls</legend>
                <button type="submit">Run</button>
            </fieldset>
        </form>
        <dialog id="nb-metadata">
            <fieldset name="metadata" form="notebook">
            </fieldset>
            <form method="dialog">
                <button>Close</button>
            </form>
        </dialog>
        {# skip to top is needed for long notebooks.
        it is difficult to access for keyboard users. #}
        <a href="#notebook">skip to top</a>
    </section>
    {% include "semantic-forms/settings.html.j2" %}
    <footer>
        <fieldset>
            <legend>application controls</legend>
            <label for="nb-activate">edit mode</label>
            <input id="nb-activate" type="checkbox">
            <button onclick="openDialog(this)" aria-controls="nb-metadata">Metadata</button>
        </fieldset>

        <ol id="log" aria-relevant="additions"></ol>
    </footer>
</body>
<script>
    function openDialog(x) {
        document.getElementById(x.getAttribute("aria-controls")).showModal();
    };

    function toggleColorScheme(x) {
        const scheme = document.querySelector(`head > meta[name="color-scheme"]`);
        scheme.content = x.value;
        // handle code theme, will have to do this will meramid
        document.getElementById(`nb-${x.value}-theme`).setAttribute("media", "all");
        const opposite = x.value == "dark" ? "light" : "dark";
        document.getElementById(`nb-${opposite}-theme`).setAttribute("media", "none");
    }
</script>

</html>
{% endblock body_footer %}


{% macro cell_section(cell, loop) %}
<section class="cell {{cell.cell_type}}" aria-labelledby="cell-{{loop.index}}-cell_type {{loop.index}}"
    data-loc="{{cell.source.splitlines().__len__()}}" {% if cell.cell_type=="code" %}
    data-outputs="{{cell.outputs.__len__()}}" {% endif %}>
    {{cell_anchor(loop.index)}}
    {{cell_form(i)}}
    {{cell_execution_count(loop.index, cell.execution_count)}}
    {{cell_cell_type(loop.index, cell.cell_type)}}
    {{cell_source(loop.index, cell.source, cell.execution_count)}}
    {{cell_output(loop.index, cell, cell.source, cell.outputs, cell.cell_type, cell.execution_count)}}
    {{cell_metadata(loop.index, cell.metadata)}}
</section>
{% endmacro%}

{% macro cell_anchor(i) %}
<a href="#{{i}}" id="{{i}}" aria-labelledby="nb-def-cell {{i}}">{{i}}</a>
{% endmacro %}

{% macro cell_cell_type(i, cell_type) %}
<select form="cell-{{i}}" name="cell_type" disabled>
    <option value="markdown" {%- if cell_type=="markdown" %} selected{% endif%}>markdown</option>
    <option value="code" {%- if cell_type=="code" %} selected{% endif%}>code</option>
    <option value="raw" {%- if cell_type=="raw" %} selected{% endif%}>raw</option>
</select>
<span id="cell-{{i}}-cell_type">{{cell_type}}</span>
{% endmacro %}

{% macro cell_execution_count(i, execution_count) %}
<output form="cell-{{i}}" name="execution_count" id="cell-{{i}}-execution_count">#{{execution_count}}</output>
{% endmacro %}

{% macro cell_form(i) %}
<form id="cell-{{i}}" name="/cells/{{i}}" aria-labelledby="cell-{{i}}-cell_type">
    <button type="submit">Run Cell</button>
</form>
{% endmacro %}

{% macro cell_source(i, source, execution_count) %}
{% set label -%}
In</span><span aria-hidden="true">[</span><span>{{execution_count}}</span><span aria-hidden="true">]</span>
{%- endset %}
<fieldset name="input">
    <legend hidden id="cell-{{i}}-input">
        In {{execution_count}}
    </legend>
    <label aria-hidden="true" for="cell-{{i}}-source">{{label}}</label>
    <textarea form="cell-{{i}}" id="cell-{{i}}-source" name="source" rows="{{source.splitlines().__len__()}}"
        aria-labelledby="cell-{{i}}-input">{{source}}</textarea>
    {{markdown("```python\n"+ source + "\n```")}}
</fieldset>
{% endmacro %}

{% macro cell_metadata(i, metadata) %}
<button name="metadata" form="cell-{{i}}">Metadata</button>
<dialog id="cell-{{i}}-metadata">
    <pre><code>
    {{metadata}}
    </code></pre>
    <form method="dialog">
        <button>Close</button>
    </form>
</dialog>
{% endmacro %}

{%- macro cell_output(i, cell, source, outputs, cell_type, execution_count) -%}
{% set CODE = cell_type == "code" %}
{% set label %}{% if CODE and outputs %}Out<span aria-hidden="true">[</span>{{execution_count}}<span
    aria-hidden="true">]</span>{% else %}Cell {{i}}{% endif %}{% endset %}
<span hidden id="cell-{{i}}-outputs-len">{{outputs.__len__()}} outputs</span>
<fieldset name="outputs" id="cell-{{i}}-outputs" aria-describedby="cell-{{i}}-outputs-len">
    <legend hidden>Out {{execution_count}}</legend>
    {% if outputs %}
    <span aria-hidden="true">{{label}}</span>
    {% endif %}
    {% if CODE and outputs %}
    {{cell_display_priority(i, outputs, cell)}}
    {% elif cell_type=="markdown" %}
    {{ markdown(source) | strip_files_prefix }}
    {% endif %}
</fieldset>
{%- endmacro -%}

{#

[h25]: https://www.w3.org/WAI/WCAG21/Techniques/html/H25
[2.4.2A]: https://www.w3.org/WAI/WCAG21/Understanding/page-titled

#}