{%- extends 'semantic-forms/base.html.j2' -%}
{% from 'mathjax.html.j2' import mathjax %}
{% from 'jupyter_widgets.html.j2' import jupyter_widgets %}

{%- block header -%}
<!DOCTYPE html>
<html lang="en">
<head>
{%- block html_head -%}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% set nb_title = nb.metadata.get('title', resources['metadata']['name']) | escape_html_keep_quotes %}
<title>{{nb_title}}</title>
{% block css %}{% endblock css %}
{%- endblock html_head -%}
</head>
{%- endblock  -%}


{% block body_header %}
<body>
    <header class="site">
        {% block skip_links %}<a class="visually-hidden" tabindex="0" href="#/">Skip to content</a>{% endblock skip_links %}
    </header>
    <main id="/">
{% endblock body_header %}


{% block body_footer %}
    </main>
    <footer><a class="scroll-top" href="#/">Scroll to top.</a></footer>
</body>
{% endblock body_footer %}

{% block footer %}
{% block footer_js %}
{% endblock footer_js %}
{{ super() }}
</html>
{% endblock footer %}

