{%- extends 'semantic-forms/base.html.j2' -%}
{% set title = nb.metadata.get('title', resources['metadata']['name']) | escape_html_keep_quotes %}

{% macro cell_section(cell, loop) %}
<section class="cell {{cell.cell_type}}" aria-labelledby="cell-{{loop.index}}-cell_type {{loop.index}}"
    data-loc="{{cell.source.splitlines().__len__()}}" {% if cell.cell_type=="code" %}
    data-outputs="{{cell.outputs.__len__()}}" {% endif %}>
    {{cell_anchor(loop.index)}}
    {{cell_form(i)}}
    {{cell_execution_count(loop.index, cell.execution_count)}}
    {{cell_cell_type(loop.index, cell.cell_type)}}
    {{cell_source(loop.index, cell.source, cell.execution_count)}}
    {{cell_output(loop.index, cell, cell.source, cell.outputs, cell.cell_type, cell.execution_count)}}
    {{cell_metadata(loop.index, cell.metadata)}}
</section>
{% endmacro%}

{%- block header -%}
<!DOCTYPE html>
<html lang="en">

<head>
    {%- block head -%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <meta name="color-scheme" content="dark light">

    <link rel="stylesheet" href="style.css">
    {%- endblock head -%}
    {%- block html_head_js_mathjax -%}{%- endblock html_head_js_mathjax -%}

</head>
{%- endblock -%}


{% block body_loop %}
<ol id=cells>{{super() }}</ol> {% endblock body_loop %}

{% block any_cell %}
<li>
    {{cell_section(cell, loop)}}
</li>
{% endblock any_cell %}

{% block body_header %}

<body>
    <header class="site">
        {% block skip_links %}
        <a class="visually-hidden" tabindex="0" href="#/">Skip to content</a>
        {% endblock skip_links %}
    </header>
    <main id="/" aria-labelledby=title>
        <form name="notebook"></form>
        <details id="toc">
            <summary id="title">{{title}}</summary>
        </details>
        {% endblock body_header %}

        {% block body_footer %}
    </main>
</body>

</html>
{% endblock body_footer %}


