<dialog id="nb-settings">
    <h1 role="presentation">Settings</h1>
    <form method="dialog">
        <button type="submit">Close</button>
    </form>
    <fieldset id="nb-color-scheme-radio">
        <legend>color scheme</legend>
        <span aria-hidden="true">color scheme</span>
        <label><input value="light" name="color-scheme" type="radio" checked>light mode</label>
        <label><input value="dark" name="color-scheme" type="radio">dark mode</label>
    </fieldset>
    <fieldset id="nb-table-role-radio">
        <legend>cell navigation</legend>
        <span aria-hidden="true">cell navigation</span>
        <label><input value="list" name="table-role" type="radio" checked>list</label>
        <label><input value="table" name="table-role" type="radio">table</label>
        <label><input value="region" name="table-role" type="radio">landmark</label>
        <label><input value="grid" name="table-role" type="radio" disabled>grid</label>
        <label><input value="treegrid" name="table-role" type="radio" disabled>treegrid</label>
        <label><input value="tree" name="table-role" type="radio" disabled>tree</label>
    </fieldset>
    <fieldset id="nb-table-font-group">
        <legend>font settings</legend>
        <label aria-hidden="true" for="nb-table-font-size-group">font size</label>
        <select name="font-size" id="nb-table-font-size-group">
            <option value="xx-small">xx-small</option>
            <option value="x-small">x-small</option>
            <option value="small">small</option>
            <option value="medium" selected>medium</option>
            <option value="large">large</option>
            <option value="x-large">x-large</option>
            <option value="xx-large">xx-large</option>
        </select>
        <fieldset id="nb-font-serif-radio">
            <legend>serif</legend>
            <label><input value="serif" name="font-family" type="radio" checked> serif</label>
            <label><input value="sans-serif" name="font-family" type="radio"> sans-serif</label>
        </fieldset>
        <span hidden id="nb-def-cell">cell</span>
    </fieldset>
</dialog>

{# these settings should be updated from query parameters #}

{% raw %}
<script>
    const SELECTORS = {
        "table": "table#cells",
        "body": "table#cells>tbody",
        "row": "table#cells>tbody>tr",
        "heading": "table#cells>tbody>tr>th",
        "cell": "table#cells>tbody>tr>td",
    }, ROLES = {
        "list": {
            "table": "presentation",
            "body": "list",
            "row": "listitem",
            "header": "none",
            "cell": "none",
        }, "table": {
            "table": "table",
            "body": null,
            "row": null,
            "header": null,
            "cell": null,
        }, "region": {
            "table": "presentation",
            "body": "group",
            "row": "region",
            "header": "none",
            "cell": "none",
        }, "generic": {
            "table": "presentation",
            "body": "none",
            "row": "none",
            "header": "none",
            "cell": "none",
        }
    };

    function toggleColorScheme() {
        document.getElementById(`nb-${event.target.value}-theme`).removeAttribute("disabled");
        let opposite = event.target.value == "dark" ? "light" : "dark"
        document.getElementById(`nb-${opposite}-theme`).setAttribute("disabled", null);
        document.querySelector(`head > meta[name="color-scheme"]`).setAttribute("content", event.target.value);
    }
    document.querySelectorAll(`[name="color-scheme"]`).forEach(
        (x) => { x.addEventListener("change", toggleColorScheme) }
    )
    function toggleRole() {
        if (event.target.checked) {
            for (const [k, selector] of Object.entries(SELECTORS)) {
                document.querySelectorAll(selector).forEach(
                    (x) => {
                        if (ROLES[event.target.value][k] == null) {
                            x.removeAttribute("role")
                        } else {
                            x.setAttribute("role", ROLES[event.target.value][k])
                        }
                    }
                );
                k == `table` ? log(`navigate cells as a ${event.target.value}`) : null;
            }
        }
    }
    document.querySelectorAll(`[name="table-role"]`).forEach(
        (x) => { x.addEventListener("change", toggleRole) }
    )
    function changeFont() {
        document.getElementById("nb-font-size-style").textContent = `:root {--nb-font-size: ${event.target.value};}`
    }
    document.querySelectorAll(`[name="font-size"]`).forEach(
        (x) => { x.addEventListener("change", changeFont) }
    )
    function changeFontFamily() {
        document.getElementById("nb-font-family-style").textContent = `:root {font-family: ${event.target.value};}`
    }
    document.querySelectorAll(`[name="font-family"]`).forEach(
        (x) => { x.addEventListener("change", changeFontFamily) }
    )
</script>
{% endraw %}