/* style variables */
:root {
    --nb-focus-width: 3px;
    --nb-accent-color: auto;
    --nb-background-color-dark: #2b2a33;
    --nb-background-color-light: #FFFFFF;
    --nb-margin: 5%;
}

body {
    overflow-x: hidden;
    accent-color: var(--nb-accent-color);
    margin-left: var(--nb-margin);
    margin-right: var(--nb-margin);
}


table#cells,
table#cells>.cell>td {
    display: block;
}

table#cells .cell,
table#cells>tbody {
    display: flex;
    flex-direction: column;
}


/* the input and output become interactive when there is overflow.*/
textarea[name=source],
.cell>td>details {
    overflow: auto;
    min-width: 0;
}


summary[inert]::marker {
    content: "";
}

textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

textarea[name=source] {
    box-sizing: border-box;
    /* https://davidwalsh.name/textarea-width */
    width: 100%;
}



table#cells+table,
#cells .cell>.nb-loc,
#cells .cell.markdown>.nb-source,
#cells .nb-cell_type,
#cells .nb-metadata,
#cells .nb-execution_count,
#cells details>summary[inert]~textarea[name=source],
#cells details>summary:not([inert])~textarea[name=source]~* {
    display: none;
}

header:focus-within,
.cell:focus-within,
:focus-visible {
    outline: max(var(--nb-focus-width), 1px) solid;
    box-shadow: 0 0 0 calc(2 * max(var(--nb-focus-width), 1px));
}

/* we visually hide the logs so that the screen reader announces them. hiding them hides them from AT. */
details.log:not([open])+table,
details.log:not([open])+ul[aria-live],
.visually-hidden:not(:focus-within):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* default tag settings. */
textarea {
    overflow: auto;
}

textarea: {
    color: unset;
}


/* hide legends and use labels instead. they increase the hit area.
https://adrianroselli.com/2022/07/use-legend-and-fieldset.html */
legend:not(:focus):not(:active) {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    white-space: nowrap;
}

[role=log] li::marker {
    display: none;
}

#skip-link {
    position: fixed;
    transform: translateY(-200%);
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    background-color: inherit;
}

#skip-link:focus-within {
    transform: translateY(0);
}

a[href="#notebook"] {
    position: sticky;
    float: right;
    bottom: 0;
}

/* small devices */
@media (max-width: 576px) {}

/* medium devices */
@media (max-width: 768px) {
    :root {
        --nb-margin: 0px;
    }
}