/* style for the accessible themes */

/* style variables */
:root {
    --nb-focus-width: 3px;
    --nb-accent-color: auto;
    --nb-line-height: 1.75;
    --nb-background-color-dark: #2b2a33;
    --nb-background-color-light: #FFFFFF;

    /* default browser values */
    --nb-ul-margin-top: 1em;
    --nb-font-size: medium;
    --nb-fieldset-margin: 2px;
    --nb-fieldset-margin-top: .35em;
    --nb-fieldset-padding: .75em;
    --nb-fieldset-border: 2px;
    --nb-body-margin: 8px;
    --nb-table-border: 2px;
    --nb-calc-fieldset-edge: var(--nb-fieldset-margin) + var(--nb-fieldset-padding) + var(--nb-fieldset-border);
    --nb-calc-fieldset-top: calc(var(--nb-fieldset-border) + var(--nb-fieldset-margin-top));
    --nb-calc-cell-margin: calc(0*var(--nb-calc-fieldset-edge) + var(--nb-body-margin) + var(--nb-table-border));
    --nb-calc-cell-width: calc(100vw - 2 * var(--nb-calc-cell-margin));
    --nb-calc-table-width: calc(100vw - 2 * var(--nb-calc-cell-margin) - 2 * var(--nb-table-border));
    --nb-calc-cell-fieldset-width: calc(var(--nb-calc-cell-width) - 2 * var(--nb-calc-fieldset-edge));
    --nb-calc-header-width: calc(100vw - 2 *var(--nb-body-margin));
    /* --nb-calc-cell-margin: calc((100vw - var(--nb-calc-cell-width))/2 - var(--nb-fieldset-border) - var(--nb-table-border)) */
}

body {
    overflow-x: hidden;
    margin: var(--nb-body-margin);
    font-size: var(--nb-font-size);
    accent-color: var(--nb-accent-color);
    line-height: var(--nb-line-height);
}

table#cells,
table#cells>.cell>td {
    display: block;
}

table#cells .cell,
table#cells>tbody {
    display: flex;
    flex-direction: column;
}


/* the input and output become interactive when there is overflow.*/
textarea[name=source],
.cell>td>details {
    overflow: auto;
    min-width: 0;
}


summary[inert]::marker {
    content: "";
}

textarea[name=source] {
    width: 100%;
}



table#cells+table,
#cells .cell>.nb-loc,
#cells .cell.markdown>.nb-source,
#cells .nb-cell_type,
#cells .nb-metadata,
#cells .nb-toolbar,
#cells .nb-execution_count,
#cells .nb-toolbar,
#cells textarea[name=source] {
    display: none;
}

header:focus-within,
.cell:focus-within,
:focus-visible {
    outline: max(var(--nb-focus-width), 1px) solid;
    box-shadow: 0 0 0 calc(2 * max(var(--nb-focus-width), 1px));
}

/* we visually hide the logs so that the screen reader announces them. hiding them hides them from AT. */
details.log:not([open])+table,
.visually-hidden:not(:focus-within):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* default tag settings. */
textarea {
    line-height: var(--nb-line-height);
    overflow: auto;
}

textarea:disabled {
    color: unset;
}

fieldset {
    border: var(--nb-fieldset-border) groove;
    margin-left: var(--nb-fieldset-margin);
    margin-right: var(--nb-fieldset-margin);
    padding-left: var(--nb-fieldset-padding);
    padding-right: var(--nb-fieldset-padding);
}

/* hide legends and use labels instead. they increase the hit area.
https://adrianroselli.com/2022/07/use-legend-and-fieldset.html */
legend:not(:focus):not(:active) {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    white-space: nowrap;
}

#skip-link {
    position: fixed;
    transform: translateY(-200%);
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: var(--nb-calc-header-width);
    background-color: inherit;
}

#skip-link:focus-within {
    transform: translateY(0);
}

a[href="#notebook"] {
    position: sticky;
    float: right;
    bottom: 0;
}

/* small devices */
@media (max-width: 576px) {
    :root {
        --nb-fieldset-margin: 0px;
        --nb-fieldset-padding: 0em;
    }
}

/* medium devices */
@media (max-width: 768px) {
    :root {
        --nb-table-border: 0px;
        --nb-body-margin: 0px;
    }
}