{%- extends 'semantic-forms/main.html.j2' -%}
{% set title = nb.metadata.get('title', resources['metadata']['name']) | escape_html_keep_quotes %}

{% macro cell_row(cell, loop) %}
<tr role="region" class="cell {{cell.cell_type}}" aria-labelledby="cell-{{loop.index}}-cell_type {{loop.index}}"
    data-loc="{{cell.source.splitlines().__len__()}}" {% if cell.cell_type=="code" %}
    data-outputs="{{cell.outputs.__len__()}}" {% endif %}>
    <td role="none" class="anchor">{{cell_anchor(loop.index)}}</td>
    <td role="none" class="toolbar">{{cell_form(loop.index)}}</td>
    <td role="none" class="execution_count">{{cell_execution_count(loop.index, cell.execution_count)}}</td>
    <td role="none" class="cell_type">{{cell_cell_type(loop.index, cell.cell_type)}}</td>
    <td role="none" class="source">{{cell_source(loop.index, cell.source, cell.execution_count)}}</td>
    <td role="none" class="output">{{cell_output(loop.index, cell, cell.source, cell.outputs, cell.cell_type,
        cell.execution_count)}}</td>
    <td role="none" class="metadata">{{cell_metadata(loop.index, cell.metadata)}}</td>
</tr>
{% endmacro %}

{% block body_header %}
{{super()}}
<table role="document">
    <caption>Notebook</caption>
    <thead>
        <th class="anchor">index</th>
        <th class="toolbar">toolbar</th>
        <th class="execution_count">execution_count</th>
        <th class="cell_type">cell_type</th>
        <th class="source">source</th>
        <th class="output">output</th>
        <th class="metadata">metadata</th>
    </thead>
    <tbody>
        {% endblock body_header %}

        {% block body_footer %}
    </tbody>
</table>
{{super()}}
{% endblock body_footer %}

{% block any_cell %}{{cell_row(cell, loop)}}{% endblock any_cell %}